<button class="button_id"><a routerLink="/cadastroEmpresas">Cadastrar Empresa</a></button>
    <div class='inicio-grid'>
        @for (item of userList; track $index){
        <div class='inicio-grid-item'>
            <div class='inicial-infos'>
                <b>Nome da empresa:</b> {{item.nome}}<br>
                <b>CNPJ:</b>{{item.cnpj}}<br>
                <b>Inscrição Estadual:</b> {{item.inscricaoEstadual}}<br>
                <b>Itens ativos:</b> 0<br> <!-- Substitua 0 pela contagem real de itens ativos -->
                <b>Tag</b>: {{item.tag}}<br>
            </div>
            <div class='inicio-grid-button'>
                <div class="inicial-buttons">
                    <button routerLink="/viewProdutos/{{item.id}}" type='button' class='inicial-view-button'>Visualizar</button>
                </div>
                <div class="inicial-buttons">
                    <button type='button' class='inicial-edit-button'>Editar</button>
                </div>
                <div class="inicial-buttons">
                    <button type='button' (click)="deleteEmpresa(item.id)" class='inicial-delete-button'>Excluir</button>
                </div>
                
            </div>
        </div>
        } 
    </div>

